body {
  margin: 0; }

header {
  background: linear-gradient(-90deg, rgba(250, 178, 152, 0.48) 0%, #F4DED6 24.3%, #F8EAE5 86.67%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: multiply;
  padding: 2.375rem 0 0 0; }
  @media (max-width: 375px) {
    header {
      padding: 0; } }

.container {
  font-family: "Poppins", sans-serif;
  width: 90rem;
  margin: 0 auto; }
  @media (max-width: 375px) {
    .container {
      width: 23.4375rem; } }

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 82.5rem;
  margin: 0 auto; }
  @media (max-width: 375px) {
    .wrapper {
      width: 53.125rem; } }

.header {
  display: flex;
  justify-content: space-between;
  width: 82.5rem;
  margin: 0 auto; }
  @media (max-width: 375px) {
    .header {
      display: none; } }

.free__shipping {
  color: #ffffff;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center; }
  @media (max-width: 375px) {
    .free__shipping {
      font-size: 0.625em;
      margin: 0; } }

.header__above {
  background-color: #000000;
  padding: 0.625rem; }
.header__nav {
  width: 50%; }
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin: 0; }
  .header__menu--item {
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 0.3125rem;
    transition: 0.2s; }
    .header__menu--item:hover {
      color: #8A5137;
      border-bottom: 1px solid #8A5137; }

.header__phone {
  box-sizing: border-box;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 23.4375rem;
  padding: 0.625rem 1.25rem;
  margin: 0 auto; }
  @media (max-width: 375px) {
    .header__phone {
      display: flex; } }
@media (max-width: 375px) {
  .header__menu {
    padding: 0; } }
@media (max-width: 375px) {
  .header__nav {
    width: 15%;
    display: flex;
    justify-content: space-between; } }

.shopping__bag {
  position: relative; }
  .shopping__bag::after {
    content: "3";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.625em;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    top: -0.3125rem;
    left: 0.5625rem; }

.title__block {
  display: flex; }
  @media (max-width: 375px) {
    .title__block {
      flex-direction: column;
      align-items: center;
      background-image: url(../images/phone__title.png);
      background-size: 110%;
      background-position-x: -2.4375rem;
      position: relative;
      margin-bottom: 6.25rem; }
      .title__block::after {
        content: "";
        width: 100%;
        height: 100vh;
        position: absolute;
        background: linear-gradient(2.76deg, #FDFAF8 11.68%, rgba(255, 255, 255, 0) 80.51%); } }
  @media (max-width: 375px) {
    .title__block--img {
      display: none; } }
.title__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  text-align: center;
  margin-top: 11.875rem; }
  @media (max-width: 375px) {
    .title__text {
      width: 95%;
      margin-top: 18.75rem;
      z-index: 1; } }

.heading {
  font-size: 2.1875em;
  font-weight: 300;
  margin: 0; }
  @media (max-width: 375px) {
    .heading {
      font-size: 1.75em; } }
  .heading__sub {
    font-size: 1.25em;
    font-weight: 400;
    width: 80%; }
    @media (max-width: 375px) {
      .heading__sub {
        font-size: 1em; } }

.btn__shop {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  width: 19.75rem;
  background-color: #000000;
  border: none;
  padding: 1.4375rem 0.625rem;
  margin-top: 0.9375rem; }
  @media (max-width: 375px) {
    .btn__shop {
      font-size: 0.875em;
      width: 95%;
      padding: 1rem 0.625rem; } }

.routine {
  background-color: #000000;
  padding: 8.125rem 10.625rem; }
  @media (max-width: 375px) {
    .routine {
      display: flex;
      flex-direction: row-reverse;
      padding: 25.3125rem 1.25rem 3.875rem 1.25rem; } }
  .routine__img {
    position: relative; }
    .routine__img img {
      position: absolute;
      top: -25rem;
      left: 34.375rem; }
      @media (max-width: 375px) {
        .routine__img img {
          width: 20.9375rem;
          top: -28.75rem;
          left: 0; } }
  .routine__title {
    width: 40%; }
    @media (max-width: 375px) {
      .routine__title {
        width: 100%; } }
    .routine__title svg {
      width: 16.5rem;
      height: 1.6875rem;
      display: block;
      margin: 0 auto; }
      @media (max-width: 375px) {
        .routine__title svg {
          width: 10.125rem;
          height: 1rem; } }
    .routine__title--text {
      color: #ffffff;
      font-size: 1.375em;
      font-weight: 300;
      text-align: center; }
      @media (max-width: 375px) {
        .routine__title--text {
          font-size: 1em; } }

.product {
  display: flex;
  justify-content: center; }
  @media (max-width: 375px) {
    .product {
      align-items: center;
      flex-direction: column-reverse; } }
  .product__block--img {
    position: relative; }
    @media (max-width: 375px) {
      .product__block--img {
        display: flex;
        justify-content: center;
        align-items: center; } }
  .product__img {
    position: absolute;
    top: 3.125rem;
    right: 8.125rem; }
    @media (max-width: 375px) {
      .product__img {
        width: 20.9375rem;
        top: 0.3125rem;
        right: 3.75rem; } }
  .product__block--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 12.875rem; }
    @media (max-width: 375px) {
      .product__block--title {
        width: 90%;
        margin-top: 5.1875rem; } }
  .product__heading {
    font-size: 2.5em;
    font-weight: 200;
    text-align: center;
    margin-top: 0; }
    @media (max-width: 375px) {
      .product__heading {
        font-size: 1.875em; } }
  .product__description {
    font-size: 1.125em;
    font-weight: 300;
    text-align: center; }

@media (max-width: 375px) {
  #bio {
    display: none; } }

#bio-s {
  display: none; }
  @media (max-width: 375px) {
    #bio-s {
      display: block; } }

.reviews {
  display: flex;
  align-items: center; }
  .reviews__text {
    font-size: 1.125em;
    font-weight: 300;
    margin: 0 0.625rem 0.3125rem 0; }
  .reviews__stars span {
    display: inline-block;
    width: 1.0625rem;
    height: 1rem;
    background-size: 1.0625rem;
    margin-right: 0.3125rem; }
    .reviews__stars span:nth-child(1) {
      background-image: url(../images/star.png); }
    .reviews__stars span:nth-child(2) {
      background-image: url(../images/star.png); }
    .reviews__stars span:nth-child(3) {
      background-image: url(../images/star.png); }
    .reviews__stars span:nth-child(4) {
      background-image: url(../images/star.png); }
    .reviews__stars span:nth-child(5) {
      background-image: url(../images/star-lgh.png); }

.price {
  margin-bottom: 0.9375rem; }
  .price__actual {
    font-size: 1.875em;
    font-weight: 200;
    margin-left: 0.9375rem; }
  .price__strike {
    color: #aaaaaa;
    font-size: 1.25em;
    font-weight: 200;
    position: relative; }
    .price__strike::after {
      content: " ";
      width: 5.625rem;
      height: 0.0625rem;
      background-color: #000000;
      position: absolute;
      top: 0.9375rem;
      left: -0.9375rem; }

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46.25rem;
  background-image: url(../images/AK8I5384-edit2.png); }
  @media (max-width: 375px) {
    .features {
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      background-image: none;
      position: relative; }
      .features::after {
        content: "";
        width: 100%;
        height: 100vh;
        position: absolute;
        background: linear-gradient(170.22deg, #FEF6F3 14.37%, rgba(254, 246, 243, 0) 104.42%); } }
  .features__img {
    display: none; }
    @media (max-width: 375px) {
      .features__img {
        display: block;
        width: 100%; } }
  .features__text {
    color: #ffffff;
    font-size: 3.75em;
    font-weight: 200;
    line-height: 4.5rem;
    margin-left: 5rem; }
    @media (max-width: 375px) {
      .features__text {
        color: #000000;
        font-size: 2.5em;
        text-align: center;
        line-height: 3rem;
        margin-left: 0;
        z-index: 1; } }

.using {
  background-color: #fef6f3;
  padding: 8.125rem 10rem; }
  @media (max-width: 375px) {
    .using {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3.5625rem 0; } }
  .using .product__heading {
    position: relative; }
    .using .product__heading::before {
      content: "";
      width: 51.375rem;
      height: 19.5rem;
      background-image: url(../images/how-to-use.png);
      position: absolute;
      top: -10.625rem;
      left: 8.125rem; }
      @media (max-width: 375px) {
        .using .product__heading::before {
          width: 32.8125rem;
          height: 12.5rem;
          background-image: url(../images/how-to-use-s.png);
          position: absolute;
          top: -4.6875rem;
          left: 0; } }

.using__steps {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 375px) {
    .using__steps {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.875rem; }
  .step__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.75rem;
    height: 7.75rem;
    background-color: #ffffff;
    border: 1px solid #8a5137;
    border-radius: 50%; }
    @media (max-width: 375px) {
      .step__img-l {
        display: none; } }
    .step__img-s {
      display: none; }
      @media (max-width: 375px) {
        .step__img-s {
          display: block; } }
    @media (max-width: 375px) {
      .step__img {
        width: 5.375rem;
        height: 5.375rem; } }
  .step__title {
    font-size: 1.25em; }
    @media (max-width: 375px) {
      .step__title {
        font-size: 1em; } }

.testimonials {
  padding-top: 5.625rem;
  padding-bottom: 17.5rem;
  position: relative; }
  @media (max-width: 375px) {
    .testimonials {
      padding-top: 3.5625rem;
      padding-bottom: 8.9375rem; } }
  .testimonials::before {
    content: "";
    width: 1.875rem;
    height: 2.5rem;
    background-image: url("../images/spot.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 3.125rem;
    left: 59.375rem; }

.owl-dots {
  display: none; }

.item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.photo {
  width: 5.375rem;
  height: 5.375rem;
  border-radius: 50%;
  overflow: hidden; }
  @media (max-width: 375px) {
    .photo {
      width: 3.8125rem;
      height: 3.8125rem; } }
  .photo img {
    opacity: 0;
    width: 5.25rem; }

.user__name {
  font-size: 1.375em;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 0;
  opacity: 0; }
  @media (max-width: 375px) {
    .user__name {
      font-size: 1em; } }

.comment {
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  width: 40.625rem;
  opacity: 50%; }
  @media (max-width: 375px) {
    .comment {
      font-size: 0.875em;
      width: 90%; } }

.center .photo img, .center .comment, .center .user__name {
  opacity: 100%; }

.owl-carousel {
  position: relative; }

.comments .owl-prev, .comments .owl-next {
  position: absolute;
  padding: 1.25rem;
  top: 1.25rem;
  transition: 0.2s; }
  .comments .owl-prev span, .comments .owl-next span {
    color: #8A5137;
    font-size: 1.25em; }
    @media (max-width: 375px) {
      .comments .owl-prev span, .comments .owl-next span {
        font-size: 1em; } }
  .comments .owl-prev::before, .comments .owl-next::before {
    content: "";
    width: 2.6875rem;
    height: 2.6875rem;
    border-radius: 50%;
    border: 1px solid #8A5137;
    position: absolute;
    top: -0.375rem;
    left: -1.25rem; }
    @media (max-width: 375px) {
      .comments .owl-prev::before, .comments .owl-next::before {
        width: 1.9375rem;
        height: 1.9375rem;
        top: -0.25rem;
        left: -0.9375rem; } }
  .comments .owl-prev::after, .comments .owl-next::after {
    content: "";
    width: 2.9375rem;
    height: 0.0625rem;
    background-color: #8A5137;
    position: absolute;
    top: 1rem; }
    @media (max-width: 375px) {
      .comments .owl-prev::after, .comments .owl-next::after {
        width: 2.125rem;
        top: 0.8125rem; } }
  .comments .owl-prev:hover span, .comments .owl-next:hover span {
    color: #ffffff; }
  .comments .owl-prev:hover::before, .comments .owl-next:hover::before {
    background-color: #8A5137; }
.comments .owl-prev {
  left: 27.5rem; }
  @media (max-width: 375px) {
    .comments .owl-prev {
      left: 3.125rem; } }
  .comments .owl-prev::after {
    left: 0.125rem; }
  .comments .owl-prev:hover::after {
    background: linear-gradient(90deg, #ffffff 50%, #8A5137 50%); }
.comments .owl-next {
  left: 62.5rem; }
  @media (max-width: 375px) {
    .comments .owl-next {
      left: 19.375rem; } }
  .comments .owl-next::after {
    right: 0.125rem; }
  .comments .owl-next:hover::after {
    background: linear-gradient(90deg, #8A5137 50%, #ffffff 50%); }

.blog {
  box-sizing: border-box;
  width: 100%;
  height: 43.75rem;
  background-color: #000000;
  position: relative; }
  @media (max-width: 375px) {
    .blog {
      height: 22.9375rem; } }
  .blog__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40%;
    left: 3.75rem; }
    @media (max-width: 375px) {
      .blog__wrapper {
        width: 100%;
        top: -40%;
        left: 0; } }
  @media (max-width: 375px) {
    .blog__block {
      width: 17.3125rem; } }
  @media (max-width: 375px) {
    .blog__block--photo {
      width: 100%; } }
  .blog__img--aloe {
    display: block;
    margin: 6.375rem 0; }
    @media (max-width: 375px) {
      .blog__img--aloe {
        margin: 3.6875rem 0;
        top: -10%;
        left: 5%; } }
  .blog__title {
    font-size: 1.125em; }
    @media (max-width: 375px) {
      .blog__title {
        font-size: 0.875em; } }
  .blog .product__heading {
    color: #ffffff;
    margin-bottom: 2.125rem auto; }

#aloeDark {
  float: right; }

.img__brands {
  margin-top: 3.375rem; }
  @media (max-width: 375px) {
    .img__brands {
      width: 45.875rem;
      margin-top: 0; } }

.subscribe {
  display: flex;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgba(252, 209, 194, 0.48) 0%, rgba(252, 209, 194, 0.2841) 58.72%, rgba(255, 255, 255, 0) 100%);
  margin-top: 28.125rem; }
  @media (max-width: 375px) {
    .subscribe {
      align-items: center;
      padding-top: 6.4375rem;
      flex-direction: column;
      margin-top: 9.375rem; } }
  .subscribe__img {
    width: 30%; }
    @media (max-width: 375px) {
      .subscribe__img {
        width: 100%; } }
  @media (max-width: 375px) {
    .subscribe__photo {
      display: block;
      width: 100%;
      margin-top: 1.875rem; } }
  .subscribe__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 61.8%; }
    @media (max-width: 375px) {
      .subscribe__title {
        width: 90%;
        padding-top: 2.6875rem; } }
    .subscribe__title .product__description {
      font-size: 1.375em;
      width: 77%;
      margin-top: 0;
      margin-bottom: 1.875rem; }
      @media (max-width: 375px) {
        .subscribe__title .product__description {
          font-size: 1em;
          width: 100%; } }
    .subscribe__title .btn__shop {
      width: 12.6875rem;
      margin: 0; }
      @media (max-width: 375px) {
        .subscribe__title .btn__shop {
          width: 100%;
          margin-top: 0.625rem; } }
    .subscribe__title label {
      display: flex;
      align-items: center; }
      @media (max-width: 375px) {
        .subscribe__title label {
          width: 100%;
          flex-direction: column;
          margin: 0; } }
  .subscribe__input {
    box-sizing: border-box;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    width: 19.6875rem;
    border: 1px solid #000000;
    padding: 1.3125rem 1.375rem; }
    @media (max-width: 375px) {
      .subscribe__input {
        font-size: 0.875em;
        width: 100%;
        padding: 1rem 1.25rem; } }
    .subscribe__input:focus {
      outline: none; }

@media (max-width: 375px) {
  .form__sbm {
    width: 100%; } }

.instagram__block {
  padding: 7.0625rem 0 3.25rem 0; }
  @media (max-width: 375px) {
    .instagram__block {
      padding: 3.9375rem 0; } }
  .instagram__block .product__heading {
    text-transform: uppercase;
    margin-bottom: 4rem; }
    @media (max-width: 375px) {
      .instagram__block .product__heading {
        margin-bottom: 1.25rem; } }

.inst {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 4.6875rem; }
  @media (max-width: 375px) {
    .inst {
      margin-bottom: 1.25rem; } }
  .inst .owl-prev, .inst .owl-next {
    position: absolute;
    padding: 1.25rem;
    top: 6.25rem;
    transition: 0.2s; }
    .inst .owl-prev span, .inst .owl-next span {
      color: #8A5137;
      font-size: 1.25em; }
    .inst .owl-prev::before, .inst .owl-next::before {
      display: none; }
    .inst .owl-prev::after, .inst .owl-next::after {
      content: "";
      width: 1.5rem;
      height: 0.0625rem;
      background-color: #8A5137;
      position: absolute; }
    .inst .owl-prev:hover::after, .inst .owl-next:hover::after {
      background: #8A5137; }
  .inst .owl-prev {
    left: -2.8125rem; }
    .inst .owl-prev::after {
      top: 0.9375rem;
      left: 0.125rem; }
  .inst .owl-next {
    left: 84.6875rem; }
    .inst .owl-next::after {
      top: 0.9375rem;
      right: 0.125rem; }

.join__us {
  text-align: center;
  font-weight: 300;
  margin: 0 auto; }
  @media (max-width: 375px) {
    .join__us {
      width: 85%;
      font-size: 0.75em; } }
  .join__us svg {
    margin-right: 0.625rem; }
    @media (max-width: 375px) {
      .join__us svg {
        display: block;
        margin: 0 auto; } }
  .join__us span {
    text-transform: uppercase; }

footer {
  background-color: #000;
  padding: 3rem 3.875rem 0 3.875rem;
  overflow: hidden; }
  @media (max-width: 375px) {
    footer {
      padding: 1.25rem 1.25rem 0 1.25rem; } }

@media (max-width: 375px) {
  #logo-footer {
    display: none; } }

#logo-footer-s {
  display: none; }
  @media (max-width: 375px) {
    #logo-footer-s {
      display: block; } }

.main__info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media (max-width: 375px) {
    .main__info {
      flex-direction: column; } }

.logo {
  width: 45%;
  position: relative; }
  @media (max-width: 375px) {
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  .logo .pages__list--horizon {
    display: none; }
    @media (max-width: 375px) {
      .logo .pages__list--horizon {
        width: 30%;
        display: flex;
        margin-top: 0.3125rem; } }

#bio-dark {
  position: absolute;
  top: -31.25rem;
  left: -34.375rem; }
  @media (max-width: 375px) {
    #bio-dark {
      display: none; } }

#bio-dark-s {
  display: none; }
  @media (max-width: 375px) {
    #bio-dark-s {
      display: block;
      position: absolute;
      top: -6.25rem;
      left: -4.375rem;
      transform: rotate(135deg); } }

.info {
  width: 55%; }
  @media (max-width: 375px) {
    .info {
      width: 100%;
      margin-top: 1.5625rem; } }

.pages {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 375px) {
    .pages {
      flex-direction: column; } }
  .pages__list {
    font-weight: 300;
    list-style-type: none;
    line-height: 2.4rem;
    margin: 0; }
    @media (max-width: 375px) {
      .pages__list {
        font-size: 0.9375em;
        line-height: 2.25rem;
        padding: 0; } }
    .pages__list a {
      text-decoration: none;
      color: #ffffff;
      transition: 0.2s; }
      .pages__list a svg path {
        fill: #ffffff; }
      .pages__list a:hover {
        color: #8A5137; }
        .pages__list a:hover svg path {
          fill: #8A5137; }
    .pages__list--horizon {
      display: flex;
      justify-content: space-between;
      width: 20%; }
      @media (max-width: 375px) {
        .pages__list--horizon {
          display: none; } }

.credit__cards {
  display: flex;
  justify-content: flex-end;
  padding: 2.5625rem 0 1.9375rem 0; }
  @media (max-width: 375px) {
    .credit__cards {
      width: 100%;
      justify-content: space-between;
      padding: 1.8125rem 0 1.25rem 0; } }
  .credit__cards img {
    cursor: pointer;
    margin: 0.5rem; }
    @media (max-width: 375px) {
      .credit__cards img {
        margin: 0; } }

.add__info {
  display: flex;
  justify-content: space-between; }
  .add__info p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.75em;
    font-weight: 300;
    margin: 1.25rem 0; }
    @media (max-width: 375px) {
      .add__info p {
        margin: 1rem 0; } }

/*# sourceMappingURL=style.css.map */
